<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>I got that Schmoney</title>
</head>
<body>
    <h1>Portfolio overview: ${{ spy }}</h1>
    <div class="container">
        <img src="{{ url_for('static', filename='pie_chart.png') }}" alt="Data not found">
            <div class="progress">            
            </div>
        </div>
    </div>

</body>
<footer>
    <p>{{ current_date }}</p>
</footer>
</html>